SECRET_KEY=xxxxx
DJANGO_SETTINGS_MODULE=xxxx
CORS_ALLOWED_ORIGINS=xxxxx
ALLOWED_HOSTS=xxxxx

DB_HOST=xxxx
DB_PORT=xxxx
DB_NAME=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx

AWS_REGION=xxxx
AWS_ACCESS_KEY_ID=xxxxx
AWS_STORAGE_BUCKET_NAME=xxxx
AWS_SECRET_ACCESS_KEY=xxxxx