SECRET_KEY=f7MdxlKFWxcmVKkTqZgoVEcwQ7m3z78SBPK5Y2z512U1GriAflwPRn6J6JCaRbWZTonEtUW9blrizWerlmr4OOD2Sw
DJANGO_SETTINGS_MODULE=core.settings.dev
CORS_ALLOWED_ORIGINS=http://localhost
ALLOWED_HOSTS=localhost

DB_HOST=db
DB_PORT=5432
DB_NAME=rental_db
DB_USERNAME=rental_admin
DB_PASSWORD=rental_admin_db

# Prodution configuration required environments

AWS_REGION=xxxx
AWS_ACCESS_KEY_ID=xxxxx
AWS_STORAGE_BUCKET_NAME=xxxx
AWS_SECRET_ACCESS_KEY=xxxxx