{% extends 'structures/dashboard.html' %}
{% load static %}
  
{% block dataarea %}
  <div id="modalBackdrop" class="fixed inset-0 z-50 bg-black opacity-75 hidden"></div>

  <div id="newRentalModal" class="fixed inset-0 flex items-center justify-center z-50 overflow-y-auto hidden">
    <div class="w-10/12 md:w-6/12 rounded-md min-h-[250px] bg-white p-8">
      <h3 class="text-2xl font-bold text-center">Rent Book</h3>

      <form method="post" action="{% url 'rentals:rent' %}" class="my-8">
        {% csrf_token %}
        <div class="flex justify-between place-items-center">
          <label for="id_book">Book Name</label>
          <div id="htmx-book-search-target"></div>
        </div>

        <input type="text" placeholder="Search Book" name="book" required id="id_book"
          hx-get="{% url 'rentals:search' %}" hx-target="#htmx-book-search-target" hx-trigger="keyup delay:800ms"
          hx-indicator="#htmx-book-search-indicator" data-dateerrornotifier="htmx-compute-cost"
          data-sourcedatefield="source_return_date" data-bookresultnotifier="htmx-book-search-target"
          hx-disabled-elt="#book-rentage-submit-btn,#source_return_date,#id_student"
          class="border h-10 border-gray-400 w-full p-1 rounded-sm outline-none bookInputField">

        <span id="htmx-book-search-indicator" class="htmx-indicator"><small>searching for book... please wait
            !!</small></span>


        <div class="block md:flex justify-between place-items-center gap-4 mt-1">
          <div class="mb-4 md:mb-0 w-full">
            <div class="flex justify-between place-items-center">
              <label for="id_book">Student Email</label>
              <div id="htmx-find-student-target"></div>
            </div>


            <input type="email" id="id_student" required name="student" placeholder="Enter student email"
              hx-trigger="keyup changed delay:50ms" hx-target="#htmx-find-student-target"
              hx-get="{% url 'rentals:find_student' %}"
              class="h-10 border border-gray-400 w-full p-1 rounded-sm outline-none">
          </div>

          <div class="flex-1">
            <label for="id_month">Return Date</label>
            <input type="date" required name="return_date" id="source_return_date" placeholder="Enter return date"
              data-sourcebookpages="id_bookpages" data-errortarget="htmx-compute-cost"
              data-validateform="htmx-form-validate-cost" data-targetbookpages="id_price_form_bookpages"
              data-validatepriceform="htmx_form_validate_price" data-targetbookreturndate="id_price_form_return_date"
              class="returnDate h-10 border border-gray-400 w-full p-1 rounded-sm outline-none">
          </div>
        </div>


        <span id="htmx-compute-cost" class="my-2 block"></span>

        <div class="flex flex-col justify-center place-items-center mt-8">
          <button type="submit"
            class="relative inline-flex items-center outline-none justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white focus:outline-none">
            <span data-modal="newRentalModal"
              class="relative outline-none px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
              Submit
            </span>
          </button>
          <p class="text-xs text-red-600 font-thin leading-8 closeModal cursor-pointer" data-modal="newRentalModal">
            Close</p>
        </div>
      </form>

      <form hx-get="{% url 'rentals:validate' %}" hx-trigger="submit" hx-target="#htmx-compute-cost"
        id="htmx_form_validate_price">
        <input type="hidden" name="return_date" id="id_price_form_return_date">
        <input type="hidden" name="book_pages" id="id_price_form_bookpages">
      </form>

    </div>
  </div>

  <div class="p-2 md:p-14 container grow">
    {% if messages %}
    {% for message in messages %}
    <div class="text-sm text-center font-bold text-red-500 mb-8">{{message}}</div>
    {% endfor %}
    {% endif %}

    {% if form.errors %}
    <div class="my-4">
      {% for error in form.errors %}
      <small class="text-sm text-red-500 font-bold"> {{ error }} </small>
      {% endfor %}
    </div>
    {% endif %}

    <div class="">
      <div class="flex flex-row justify-between place-items-center mb-12">
        <h1 class="text-right text-2xl font-bold">Rentals</h1>

        <button
          class="relative inline-flex items-center outline-none justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white focus:outline-none">
          <span id="openNewRentalModal" data-modal="newRentalModal"
            class="relative outline-none px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
            New Rental
          </span>
        </button>
      </div>


    </div>

    <div class="relative block overflow-x-scroll shadow-md">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Book Name
            </th>
            <th scope="col" class="px-6 py-3">
              Student
            </th>
            <th scope="col" class="px-6 py-3">
              Return Date
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          {% for rental in rentals %}
          <tr class="bg-white border-b hover:bg-gray-100 cursor-pointer">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
              {{rental.book.title}}
            </th>
            <td class="px-6 py-4">
              {{rental.student.name}}
            </td>
            <td class="px-6 py-4">
              {{rental.end_date}}
            </td>
            <td class="px-6 py-4">
              {{rental.cost }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock dataarea %}

{% block script %}
  <script>

    // Get modal elements
    const openNewRentalModal = document.getElementById('openNewRentalModal');
    const closeModalBtn = document.querySelectorAll('.closeModal');
    const modalBackdrop = document.getElementById('modalBackdrop');



    // Function to open modal
    function openModal(target) {
      const modal = document.getElementById(target);
      modal.classList.remove('hidden');
      modalBackdrop.classList.remove('hidden');
      document.body.classList.add('modal-open');
    }

    // Function to close modal
    function closeModal(target, removeBackdrop = true) {
      const modal = document.getElementById(target);
      modal.classList.add('hidden');
      if (removeBackdrop) {
        modalBackdrop.classList.add('hidden');
        document.body.classList.remove('modal-open');
      }
    }


    openNewRentalModal.addEventListener('click', (event) => {
      const targetModal = event.target.dataset['modal']
      openModal(targetModal)
    });

    // openModalBtn.forEach( btn => {
    //   btn.addEventListener('click', (event) => {
    //     const targetModal = event.target.dataset['modal']
    //     openModal(targetModal)
    //   });
    // })

    closeModalBtn.forEach(btn => {
      btn.addEventListener('click', (event) => {
        const targetModal = event.target.dataset['modal']
        closeModal(targetModal)
      });
    })

    document.querySelectorAll('.returnDate').forEach(returnDate => {
      returnDate.addEventListener('change', function (event) {
        const bookPagesSource = event.target.dataset['sourcebookpages'];
        const bookPagesTarget = event.target.dataset['targetbookpages'];
        const errorNotifierTarget = event.target.dataset['errortarget'];
        const validatePriceForm = event.target.dataset['validatepriceform'];
        const bookPagesReturnDate = event.target.dataset['targetbookreturndate'];
        try {
          console.log("i'm here")
          document.getElementById(bookPagesTarget).value = document.getElementById(bookPagesSource).value;
          document.getElementById(bookPagesReturnDate).value = returnDate.value;
          console.log(validatePriceForm)
          const validatePriceFormElement = document.getElementById(validatePriceForm)
          console.log(validatePriceFormElement)
          htmx.trigger(validatePriceFormElement, 'submit')
        } catch (error) {
          console.log(error)
          let errorTarget = document.getElementById(errorNotifierTarget);
          errorTarget.innerHTML = `<small class="text-red-600 text-xs">Enter a valid book</small>`
        }
      })
    })

    document.querySelectorAll('.bookInputField').forEach(bookInputField => {
      bookInputField.addEventListener('input', function (event) {
        document.getElementById(event.target.dataset['sourcedatefield']).value = null
        document.getElementById(event.target.dataset['dateerrornotifier']).innerHTML = ''
        document.getElementById(event.target.dataset['bookresultnotifier']).innerHTML = ''
      })
    }
    )

  </script>
  <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock script %}